body {
  background-image: url("../images/wild_oliva.png");
}

.container h1 {
  margin-left: 5px;
  color: #4aaaa5;
  font-size: 30px;
  font-family: "Georgia", Times, Times New Roman, serif;    
}
nav {
  /* width: 100%;
  height: 60px; */
  background-color: #ffffff;
  /* border-bottom: 2px solid #cccccc;
  position: relative;
  top: 0; */
}

.container {
  margin: 30px auto;
  padding: 10px;
  background-color: #ffffff;
  overflow: auto;
  border: 1px solid #dddddd;
}
.container h1 {
  color: #4aaaa5;
  margin: 10px;
  padding-left: 10px;
}
img {
  float: left;
  padding: 20px;
}
hr {
  width: 93%;
  height: 3px;
  color: #cccccc;
  background-color: #cccccc;
  border: 0 none;
}
p {
  margin: 20px;
  color: #777777;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  text-align: justify;
}
form {
  margin: 20px;
}
input[type="text"] {
  width: 100%;
  padding: 5px;
  margin: 10px auto;
  box-sizing: border-box;
}
input[name="message"] {
  height: 50px;
}
textarea {
  border: 1px solid #cccccc;
  box-sizing: border-box;
  width: 100%;
}
input[type="submit"] {
  background-color: #4aaaa5;
  color: #ffffff;
  line-height: 30px;
  padding: 0 15px 0;
}
input:focus {
  background-color: #cccccc;
}
.portfolioProjects {
  width: 225px;
  height: 40px;
  margin: auto;
  color: #ffffff;
  background-color: #4aaaa5;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #666666;
  color: white;
  text-align: center;
  border-top: 5px solid #4aaaa5;
}
/* .navbar-nav ul{
  margin-left: 20px;
} */